@model IEnumerable<CartProduct>
@{
    ViewData["Title"] = "itemsinorder";
    Layout = "~/Views/Shared/_HomeLoginLayout1.cshtml";
}



<h1 style="text-align:center;margin-top:40px;margin-bottom:30px;"><span>O</span>rder <span>I</span>tems</h1>
<div style="display:flex;justify-content:center;margin-bottom:100px;">
    <table border="2" style="text-align:center;width:900px">
        <thead>
        <th> Items</th>
        <th> Name</th>
        <th> Price</th>
        <th>Discount</th>
        <th>Quantity</th>
        <th>Final price</th>
        <th>image</th>


        </thead>
        <tbody>
            @{
                int count = 0;
            }
            @foreach (var item in @Model)
            {
                count++;

                <tr>
                    <td>@count</td>
                    @foreach (var product in @ViewBag.products)
                    {
                        if (product.Id == item.Productid)
                        {
                            <td>@product.Name</td>
                            <td>@product.Price $</td>
                            <td>@product.Sale %</td>

                        }
                    }
                    <td>@item.Quantity</td>
                    @foreach (var product in @ViewBag.products)
                    {
                        if (product.Id == item.Productid)
                        {

                            decimal finalprice = Convert.ToDecimal(((double)item.Productprice - ((double)item.Productprice * ((double)product.Sale * 0.01))) * (double)item.Quantity);
                            <td style="color: #ffbe33;">@finalprice $</td>
                            <td>

                                <img src=@Url.Content("~/images/"+product.Imagepath)
                                     asp-append-version="true"
                                     style="border-radius:20%;" widh="100px" height="100px" />
                            </td>
                            <td class="Items">
                                <a asp-action="details" asp-controller="home" asp-route-id="@product.Id">Details</a>
                            </td>
                        }
                    }


                </tr>

            }

        </tbody>
    </table>

</div>

<style>
    span {
        color: #ffbe33;
    }

    a {
        color: white;
    }

        a:hover {
            color: white;
        }

    td.Items {
        background-color: #ffbe33;
        color: white;
        font-weight: bold;
    }

        td.Items:hover {
            background-color: black;
            color: #ffbe33;
            font-weight: bold;
            cursor: pointer;
        }

    td.delete {
        background-color: #ff0000a3;
        font-weight: bold;
        color: white;
        height: 10px;
    }

        td.delete:hover {
            background-color: #b30f0f;
            color: white;
            cursor: pointer;
        }

    th.payment {
        background-color: #ffbe33;
        font-weight: bold;
        color: white;
    }

        th.payment:hover {
            background-color: green;
            color: white;
            cursor: pointer;
        }

    th.cansel {
        background-color: #ffbe33;
        font-weight: bold;
        color: white;
    }

        th.cansel:hover {
            background-color: red;
            color: white;
            cursor: pointer;
        }
</style>
