@model IEnumerable<Shopingcart>
@{
    ViewData["Title"] = "myorders";
    Layout = "~/Views/Shared/_HomeLoginLayout1.cshtml";
}

<h1 style="text-align:center;margin-top:40px;margin-bottom:30px;"><span>M</span>y <span>O</span>rders</h1>
<div style="display:flex;justify-content:center;margin-bottom:100px;">
    <table border="2" style="text-align:center;width:900px">
        <thead>
        <th> Order</th>
        <th> TotalAmount</th>
        <th> OrderDate</th>
        <th> DateArrive</th>
        <th> State</th>
        </thead>
        <tbody>
            @{
                int count = 0;
            }

            @foreach (var order in @Model)
            {
               // foreach (var pay in @ViewBag.payments)
               // {
                  //  if (order.Id == pay.Shopingcartid)
                   // {

                        count++;

                        <tr >
                            <td>@count</td>

                            <td>@order.Totalamount $</td>
                            <td>@order.Orderdate</td>
                            <td>@order.Datearrive</td>
                            @{
                                switch (order.Orderstate)
                                {
                                    case "Loading Items":
                                        <td style="color:red;font-weight:bold;"> @order.Orderstate </td>
                                        break;
                                    case "In Preparation":
                                        <td style="color:orange;font-weight:bold;"> @order.Orderstate </td>
                                        break;
                                    case "On The Road":
                                        <td style="color:#f8e407;font-weight:bold;"> @order.Orderstate </td>
                                        break;
                                    case "Arrive":
                                        <td style="color:green;font-weight:bold;"> @order.Orderstate </td>
                                        break;
                                }
                            }

                            <td class="Items" style="">
                                <a asp-action="itemsinorder" asp-controller="home" asp-route-id="@order.Id">Items</a>
                            </td>
                        </tr>
                   // }


               // }
            }


        </tbody>
    </table>

</div>

<style>
    span {
        color: #ffbe33;
    }

    a {
        color: white;
    }

        a:hover {
            color: white;
        }

    td.Items {
        background-color: #ffbe33;
        color: white;
        font-weight: bold;
    }

        td.Items:hover {
            background-color: black;
            color: #ffbe33;
            font-weight: bold;
            cursor: pointer;
        }

    td.delete {
        background-color: #ff0000a3;
        font-weight: bold;
        color: white;
        height: 10px;
    }

        td.delete:hover {
            background-color: #b30f0f;
            color: white;
            cursor: pointer;
        }

    th.payment {
        background-color: #ffbe33;
        font-weight: bold;
        color: white;
    }

        th.payment:hover {
            background-color: green;
            color: white;
            cursor: pointer;
        }

    th.cansel {
        background-color: #ffbe33;
        font-weight: bold;
        color: white;
    }

        th.cansel:hover {
            background-color: red;
            color: white;
            cursor: pointer;
        }
</style>
